<h1>問題：<%= @question.content %></h1>
<h3>回答：<%= @answers.count %>/<%= @members.count %></h3>
<% if current_user.answered?(@question) %>
 <p>回答済み。あなたの回答は<%= current_user.answer(@question).content %></p>
 <% if current_user.owner?(@room) %>
   <%= link_to '投票を開始する', '#', class: 'btn btn-primary', data: {confirm: "回答を締め切って投票を開始します"} %>
 <% end %>
<% else %>
   <%= form_with model: @answer, url: room_question_answers_path(@room, @question), local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
  	<div class="form-group">
      <%= f.label :content %>
      <%= f.text_field :content, class:"form-control" %>
       <%= f.hidden_field :user_id, :value => current_user.id %>
       <%= f.hidden_field :question_id, :value => @question.id %>
    </div>
    <%= f.submit '回答する', class:"btn btn-primary" %>
  <% end %>
 <% end %>