<div class="question-content">
  <h2><%= @room.count_questions %>問目</h2>
  <% if current_user.id == @question.user_id %>
    <%= form_with model: @question, url: ask_room_question_path(@room, @question), method: :patch, local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    	<div class="form-group">
        <%= f.text_field :content, class:"form-control", required: true, placeholder: 'あなたが出題者です。' %>
      </div>
      <%= f.submit '出題する', class:"btn btn-primary" %>
    <% end %>
  <a id="popup-show" href="#">出題サンプル</a>
  <%= render 'shared/question-sample' %>
  <% else %>
    <p><%= @question.user.name %>さんの出題をお待ちください</p>
  <% end %>
</div>