<h2><%= @question.content %></h2>
<% @question.result_votes.each do |answer| %>
<p>
    <%= answer.content %>
    <%= answer.whose %>
    <%= answer.count_votes %>/<%= @question.count_votes %>
</p>
<% end %>

<% if current_user.owner?(@room) %>
    <%= link_to '次の問題へ', new_room_question_path(@room), class: 'btn btn-outline-warning' %>
    <% if @room.latest_question.present? %>
      <%= link_to 'ゲームを終了して結果を見る', finish_room_path(@room), method: :patch, data: {confirm: "最終結果を表示します"}, class: 'btn btn-outline-warning' %>
    <% end %>
<% end %>