<div class="result-content">
<h2><%= "#{@room.count_questions}問目「#{@question.content}」" %></h2>
<table>
  <thead>
    <tr>
      <th>回答</th>
      <th>回答者</th>
      <th>得票数</th>
    </tr>
  </thead>
  <tbody>
    <% @question.result_votes.each do |answer| %>
      <tr>
          <td><i class="far fa-user"></i> <%= answer.whose %></td>
          <td><%= answer.content %></td>
          <td><%= answer.count_votes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% if current_user.owner?(@room) %>
<ul class="result-link">
    <li><%= link_to '次の問題へ', new_room_question_path(@room), class: 'btn btn-primary' %></li>
    <% if @room.latest_question.present? %>
      <li><%= link_to 'ゲームを終了して結果を見る', finish_room_path(@room), method: :patch, data: {confirm: "最終結果を表示します"}, class: 'btn btn-outline-warning' %></li>
    <% end %>
</ul>
<% else %>
  <small>進行をお待ちください</small>
<% end %>