<h2>「<%= @question.content %>」への回答</h2>
<p>投票：<span id="total_votes"><%= @question.count_votes %></span>/<%= @room.members_without_hero.count %>人</p>

<% if current_user.hero?(@room) %>
<p>※ ゲームの主役は投票できません。進行を待ちましょう</p>
<ul>
      <% @answers.each do |answer| %>
        <% if answer.user_id == current_user.id %>
          <li><%= answer.content %>(あなたの回答)</li>
        <% else %>
            <li><%= answer.content %></li>
        <% end %>
      <% end %>
</ul>
<% elsif current_user.voted?(@question) %>
  <p>投票済み：<%= current_user.voted_answer(@question).content %></p>
<% else %>
  <%= form_with model: @vote, url: room_question_votes_path(@room, @question), local: true do |f| %>
    <% @answers.each do |answer| %>
      <% if answer.user_id == current_user.id %>
        <label><%= answer.content %>(あなたの回答)</label>
      <% else %>
        <label>
            <%= f.radio_button :answer_id, answer.id %>
            <%= answer.content %>
        </label>
      <% end %>
    <% end %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :question_id, :value => @question.id %>
    <% if @answers.count > 1 %>
      <%= f.submit '投票する', class: 'btn btn-primary' %>
    <% end %>
    <p>※ 自分の回答には投票できません</p>
  <% end %>
<% end %>

<% if current_user.owner?(@room) %>
  <%= link_to '結果を表示する', result_room_question_path(@room, @question), method: :patch, class: 'btn btn-primary', data: {confirm: "投票を締め切って結果を表示します"} %>
<% end %>