<div class="room-info">
  <h2><%= "#{@room.count_questions}問目「#{@question.content}」" %></h2>
  <p>投票：<span id="total_votes"><%= @question.count_votes %></span>/<%= @room.members_without_hero.count %>人</p>
  <small>※ ゲームの主役は投票できません</small>
</div>



<h3>回答一覧</h3>
<div class="vote-content">
<% if current_user.hero?(@room) %>

  <ul>
    <% @answers.shuffle.each do |answer| %>
      <% if answer.user_id != current_user.id %>
        <li><%= answer.content %></li>
      <% end %>
    <% end %>
    <li class="my-answer"><%= current_user.answer(@question).content %></li>
  </ul>
  <small>※ 進行をお待ちください</small>

<% elsif current_user.voted?(@question) %>

  <p>投票済み：<%= current_user.voted_answer(@question).content %></p>
  <small>※ 投票済み。進行をお待ちください</small>

<% else %>

  <%= form_with model: @vote, url: room_question_votes_path(@room, @question), local: true do |f| %>
    <% @answers.shuffle.each_with_index do |answer, i| %>
      <% if answer.user_id != current_user.id %>
        <label>
        <% if i == 0 %>
            <%= f.radio_button :answer_id, answer.id, checked: true %>
        <% else %>
            <%= f.radio_button :answer_id, answer.id %>
        <% end %>
            <%= answer.content %>
        </label>
      <% end %>
    <% end %>
    <label class="my-answer"><%= current_user.answer(@question).content %></label>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :question_id, :value => @question.id %>
    <% if @answers.count > 1 %>
      <%= f.submit '投票する', class: 'btn btn-primary' %>
    <% end %>
    <small>※ 自分の回答には投票できません</small>
  <% end %>

<% end %>
</div>

<% if current_user.owner?(@room) %>
<div class="vote-link">
  <%= link_to '結果を表示する', result_room_question_path(@room, @question), method: :patch, class: 'btn btn-primary', data: {confirm: "投票を締め切って結果を表示します"} %>
</div>
<% end %>