<% content_for :title, t('.title') %>
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <h1><%= User.find(@room.hero_id).name %>になりきれ！</h1>
    <h2><%= Question.where(room_id: @room).count + 1 %>問目</h2>
    <%= form_with model: @question, url: [@room, @question],  local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    	<div class="form-group">
      <% @members.each do |member| %>
        <label>
          <%= f.radio_button :user_id, member.id %>
          <%= member.name %>
        </label>
      <% end %>
      </div>
      <%= f.submit '出題者を決定', class:"btn btn-primary" %>
    <% end %>
    <%= link_to 'ゲームを終了する', "#", class: 'btn btn-outline-warning' %>
  </div>
</div>