<% content_for :title, @room.title %>
<h2>最終結果</h2>
<%= @room.status %>
<table>
  <tbody>
  <% @room.results.each do |result| %>
  <tr>
    <th><%= result.whose %></th>
    <td><%= result.count_votes %>/<%= @room.count_total_votes %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<% @room.result_answers.each do |question| %>
<h3><%= question.content %></h3>
<ul>
<% question.result_votes.each do |answer| %>
<li>
    <%= answer.user.name %>
    <%= answer.content %>
    <%= answer.count_votes %>/<%= question.count_votes %>
</li>
<% end %>
</ul>
<% end %>
<%= render 'shared/room_id' %>