<div class="row">
  <div class="col-lg-8 offset-lg-2">
  <h1><%= @room.title %></h1>
    <h1><%= @room.hero_user.name %>になりきれ！</h1>
    <h2><%= @room.count_questions %>問目</h2>
    <p>参加人数：<%= @members.count %></p>
    <p>フェーズ：<%= @question.phase %></p>
    <% if @question.question? %>
      <%= render 'question' %>
    <% elsif @question.answer? %>
      <%= render 'answer' %>
    <% elsif @question.vote? %>
      <%= render 'vote' %>
    <% elsif @question.result? %>
      <%= render 'result' %>
    <% end %>
  </div>
</div>
<%= render 'shared/room_id' %>