<% content_for :title, @room.title %>

<section>
  <div class="inner">
    <div class="questions-info">
    <ul>
      <li>主役：<%= @room.hero_user.name %></li>
      <li>参加人数：<%= @members.count %></li>
      <li>進行担当：<%= @room.user.name %></li>
    </ul>
    </div>
    <% if @question.question? %>
      <%= render 'question' %>
    <% elsif @question.answer? %>
      <%= render 'answer' %>
    <% elsif @question.vote? %>
      <%= render 'vote' %>
    <% elsif @question.result? %>
      <%= render 'result' %>
    <% end %>
  </div>
</section>
<%= render 'shared/room_id' %>