<% content_for :title, @room.title %>
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="room-info">
      <p class="room-title"><%= @room.title %></p>
      <p>参加人数：<%= @members.count %></p>
      <p><%= @room.hero_user.name %>になりきれ！</p>
      <p><%= @room.count_questions %>問目</p>
    </div>
    <% if @question.question? %>
      <%= render 'question' %>
    <% elsif @question.answer? %>
      <%= render 'answer' %>
    <% elsif @question.vote? %>
      <%= render 'vote' %>
    <% elsif @question.result? %>
      <%= render 'result' %>
    <% end %>
  </div>
</div>
<%= render 'shared/room_id' %>