<header>
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo">
      <%= link_to 'なりきりクイズ', root_path %>
    </h1>
    <nav class="header-nav">
      <ul class="d-flex align-items-center list-unstyled">
        <% if user_signed_in? %>
          <li class="mr-2 btn btn-outline-primary"><%= link_to edit_user_registration_path do %>
            <i class="nav-icon fas fa-user"></i>
            <span id="current-user-name"><%= current_user.name %></span>
          <% end %></li>
          <% if current_page?(rooms_path) %>
            <li class="mr-2 btn btn-outline-primary"><%= link_to 'ルーム作成', new_room_path %></li>
          <% else %>
            <li class="mr-2 btn btn-outline-primary"><%= link_to 'ルーム一覧', rooms_path %></li>
          <% end %>
          <li class="mr-2 btn btn-outline-warning"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class="mr-2 btn btn-outline-primary"><%= link_to t('devise.registrations.new.sign_up'), new_user_registration_path %></li>
          <li class="mr-2 btn btn-primary"><%= link_to t('devise.sessions.new.sign_in'), new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>