<div class="col-sm-12 col-lg-4 mb-3">
  <div id="room-id-<%= room.id %>">
  <%= link_to room_path(room.id) do %>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <%= room.title %>
        </h4>
        <ul class="list-inline">
          <li><i class="far fa-user"></i> <%= room.user.name %></li>
          <li><i class="far fa-calendar"></i> <%= l room.created_at, format: :short %></li>
        </ul>
        <div class='float-right'>
          <% if room.ready? %>
            <span class="badge bg-success text-light">
              <%= room.status_i18n %>
            </span>
          <% elsif room.playing? %>
           <span class="badge bg-warning text-dark">
              <%= room.status_i18n %>
            </span>
          <% end %>
          <% if current_user.owner?(room) %>
            管理者
          <% elsif current_user.members?(room) %>
            参加済み
          <% else %>
            参加人数：<%= room.members.count %>人
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>