<% content_for :title, t('.title') %>
<section class="rooms_enter">
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <h2><%= t('.title') %></h2>
    <%= form_with model: @room, url: pass_room_path(@room), method: :post, local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label :enter_password, "ルーム名:#{@room.title} のパスワード" %>
        <%= f.text_field :enter_password, class: 'form-control', required: true, placeholder: "パスワードを入力してください" %>
      </div>
      <%= f.submit 'ルームに参加する', class:"btn btn-primary" %>
    <% end %>
  </div>
</div>
</section>