<% content_for :title, t('.title') %>
<div class="container pt-3">
<h2>参加済みルーム</h2>
<p>作成済みのルームに探す場合は、以下にルームIDを入力してください。</p>
<%= form_with url: search_path, method: :post, local: true do |f| %>
  <div class="form-group">
    <%= f.text_field :room_id, class: 'form-control', required: true %>
  </div>
  <%= f.submit 'ルームを検索する', class:"btn btn-primary" %>
<% end %>

<div class="btn btn-outline-primary"><%= link_to 'ルームを作成する', new_room_path %></div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @rooms.present? %>
          <%= render @rooms %>
        <% else %>
          現在参加中のルームはありません
        <% end %>
      </div>
    </div>
    <%= paginate @rooms, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
