<h2>最終結果</h2>
<table>
<thead>
<tr>
  <th>名前</th>
  <th>総得票数</th>
</tr>
</thead>
  <tbody>
  <% @members.each do |member| %>
  <tr>
    <th><%= member.name %></th>
    <td><%= member.result(@room) %>/<%= @room.count_total_votes %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<% @room.result_answers.each do |question| %>
<h3><%= question.content %></h3>
<table>
<tr>
  <th>名前</th>
  <th>回答内容</th>
  <th>投票数</th>
</tr>
<% question.result_votes.each do |answer| %>
<tr>
    <td><%= answer.user.name %></td>
    <td><%= answer.content %></td>
    <td><%= answer.count_votes %>/<%= question.count_votes %></td>
</tr>
<% end %>
</table>
<% end %>

<%= render 'links' %>