<h2>最終結果</h2>
<table>
  <tbody>
  <% @members.each do |member| %>
  <tr>
    <th><%= member.name %></th>
    <td><%= member.result(@room) %>/<%= @room.count_total_votes %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<% @room.result_answers.each do |question| %>
<h3><%= question.content %></h3>
<ul>
<% question.result_votes.each do |answer| %>
<li>
    <%= answer.user.name %>
    <%= answer.content %>
    <%= answer.count_votes %>/<%= question.count_votes %>
</li>
<% end %>
</ul>
<% end %>

<%= render 'links' %>