<h1><%= @room.title %></h1>

<ul class="list-inline mb-4">
  <li class="list-inline-item"><i class="far fa-user"></i> <%= @room.user.name %></li>
  <li class="list-inline-item"><i class="far fa-calendar"></i> <%= l @room.created_at, format: :short %></li>
</ul>

<div class="mb-4">
<ul>
  <li>ルームURL：<%= request.url %></li>
  <%# コピーボタン/jsで実装 %>
  <li>パスワード：<%= @room.password %></li>
</ul>
</div>
  <p>参加人数:<span id="total_members"><%= @members.count %></span>人</p>

  <% if current_user.owner?(@room) %>
  <h3>ルームの主役を選択</h3>
  <p>3人以上でゲームが開始できます</p>
    <%= form_with model: @room, url: setting_room_path(@room) do |f| %>
    	<div id="room-heroes">
      <% @members.each_with_index do |member, index| %>
        <label>
        <% if index == 0 %>
          <%= f.radio_button :hero_id, member.id, checked: true %>
        <% else %>
          <%= f.radio_button :hero_id, member.id %>
        <% end %>
          <%= member.name %>
        </label>
      <% end %>
      </div>
      <% if @members.count >= 1 %>
        <%= f.submit 'ゲームを開始する', class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  <% else %>
  <h3>参加メンバー</h3>
    <ul id="members">
      <% @members.each do |member| %>
        <li id="member-<%= member.id %>">
          <%= member.name %>
        </li>
      <% end %>
    </ul>
  <% end %>

<%= render 'links' %>